<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue"/>
      <button @click="addGoal">Add Goal</button>
      <!-- ---------------------------------------------------------------------------------------------------------- -->
      <!-- <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <ul v-else="goals.length > 0">
        <li>Goal</li>
      </ul> -->
      <!-- ---------------------------------------------------------------------------------------------------------- -->
      <!-- The difference between v-show and v-if is the v-if literally adds and removes elements from the DOM, v-show only shows and hides elements. 
      RUle of thumb is to generally use v-if and use v-show only for elements that get toggled very often -->
      <p v-show="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <ul v-show="goals.length > 0">
        <!-- key attribude is not a default HTML attribute, adviced to use on all items where v-for is used, this makes every li unique and prevents
        input from staying behind -->
        <li v-for="(goal, index) in goals" :key="goal " @click="removeGoal">
          <p>{{ goal }} - {{ index }}</p>
          <input type="text" @click.stop>
        </li>
      </ul>
      <ul v-show="goals.length > 0">
        <li v-for="(value, key) in { name: 'Max', age: 31}" > {{ key }} : {{ value }}</li>
      </ul>
      <ul>
        <li v-for="num in 10"> {{ num }}</li>
      </ul>
    </section>
  </body>
</html>
